<template>
  <div>
    <h1>{{ title }}</h1>
    <CarsView :carHeaders="carHeaders"
              :cars="cars"/>
  </div>
</template>

<script>
import CarsView from './CarsView';
import axios from 'axios/index';

export default {
  name: 'CarsComponent',
  components: { CarsView },
  props: [ 'title' ],
  created() {
    // TODO: Make call to appropriate method to obtain data to display in table.
  },
  data(){
    return {
      carHeaders: ['year', 'make', 'model'],
      cars: []
    }
  },
  methods: {
    retrieveCars() {
      // TODO: Fix this REST URI
      axios.get('http://localhost:8080/V1/api')
              .then( response => {
                //TODO: Set the response data to the appropriate state
              })
    }
  }
}
</script>

<style scoped>
</style>
