<template>
    <div>
        <md-table md-card>
            <md-table-row>
                <md-table-head v-for="(header, index) in carHeaders" :key="index" class="table-header-container">
                    {{ header }}
                </md-table-head>
            </md-table-row>

            <md-table-row v-for="(car, index) in cars" :key="index">
                <md-table-cell>{{ car.year }}</md-table-cell>
                <md-table-cell>{{ car.make }}</md-table-cell>
                <md-table-cell>{{ car.model }}</md-table-cell>
            </md-table-row>
        </md-table>
    </div>
</template>

<script>
    export default {
        name: 'CarView',
        props: ['carHeaders', 'cars']
    }

</script>

<style scoped>
    .table-header-container {
        text-align: center;
    }
</style>
