<template>
  <div id="app">
    <CarsComponent :title="title"/>
  </div>
</template>

<script>
  import CarsComponent from './cars/CarsComponent.vue'

  export default {
    name: 'app',
    components: {
      CarsComponent
    },
    data(){
      return{
        title: 'My Car Dealership Inventory'
      }
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
  }
</style>
